<%- include('partials/header') %> <!-- Incluir encabezado -->
<div class="container">
    <h1>Ingresar Nombres</h1>
    <form action="/users/confirm" method="post">
        <div class="form-group row">
            <label for="name" class="col-sm-1 col-form-label">Nombre:</label>
            <div class="col-sm-4"> 
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
<%- include('partials/footer') %> <!-- Incluir pie de página -->
</body>
</html>